body {
	margin: 0;
}
.debugger {
	background: #2A2A2A;
	margin: 20px;
	border-radius: 5px;
	font-family: monospace;
	overflow: hidden;
}
.debugger_title {
	font-size: 15px;
	color: white;
	margin: 0;
	padding: 5px;
	padding-left: 20px;
	background: #444444;
	margin-bottom: 20px;
}
.debugger_class {
	color: #569CD6;
	font-size: 15px;
	margin: 0;
	padding: 2px;
	padding-left: 20px;
	font-weight: bold;
}
.debugger_properties {
	box-sizing: border-box;
	background: #252525;
	color: white;
	width: 100%;
	margin-bottom: 20px;
}
.debugger_property {
	margin: 0;
	padding: 2px;
	padding-left: 40px;
	color: #999999;
}
.debugger_property_key {
	color: #ffffff;
}
.debugger_string::before {
	content: "'";
	color: #999999;
}
.debugger_out {
	color: #999999;
}
.debugger_string::after {
	content: "'";
	color: #999999;
}
.debugger_string {
	color: #CE9178;
}
.debugger_property_key::after {
	color: #999999;
	content: "→";
	padding-left: 10px;
	padding-right: 10px;
	font-family: sans-serif !important;
	font-weight: bold;
}

.debugger_property:nth-child(even) {
	background: #2A2A2A;
}

.debugger_type {
	color: #569CD6;
}
.debugger_typ {
	padding-left: 5px;
	font-weight: bold;
}

.debugger_public {
	color: #4B7E51;
}
.debugger_protected {
	color: #C29640;
}
.debugger_private {
	color: #B13133;
}
.debugger_static {
	color: #6D1352;
}