#error {
	display: inline-block;
	position: absolute;
	background: #C83C3C;
	padding: 20px;
	border-radius: 3px;
	font-family: sans-serif;
	color: white;
	font-size: 15px;
	box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.5);
	margin: 20px;
}
.trace_code_wrapper {
	display: inline-block;
	background: #D0D0D0;
	width: 100%;
	margin: 0;
	margin-top: 20px;
}
.trace_code_notline {
	font-family: monospace;
	margin: 0;
	font-size: 12px;
	color: #5F6066;
	padding: 2px;
	display: block;
}
.trace_code_line {
	font-family: monospace;
	padding: 2px;
	display: block;
	margin: 0;
	font-size: 12px;
	color: #1B1D1B;
	background: #F1F1F1;
	font-weight: bold;
}
.pre {
	white-space: pre;
}