#exception {
	width: 100%;
	background: #B9B9B9;
	border: 1px solid #515151;
	font-family: sans-serif;
	color: white;
}

p {
	display: inline-block;
	margin: 0;
	font-size: 15px;
}

.exception_wrapper_title {
	color: #D00002;
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: 15px;
	padding: 3px;
}
.dark {
	color: #1B1D1B;
}
.normal {
	color: #5F6066;
}
.padd {
	padding: 3px;
}

#exception,
.exception_title {
	font-size: 15px !important;
}
.exception_title {
	margin: 0;
	padding: 3px;
	background: #515151;
	font-weight: normal;
}
.trace_title {
	font-family: monospace;
	margin: 0;
	padding: 3px;
	font-size: 0px;
	background: #515151;
	font-weight: normal;
}
.trace_title span {
	font-size: 15px;
}
.pre {
	white-space: pre;
}
.trace {
	margin-bottom: 15px;
}
.trace_line {
	margin-right: 5px;
}
.trace_class,
.trace_function {
	color: #46A248;
}
.trace_argument {
	color: #EF6C06;
}
.trace_file {
	margin: 0;
	margin-top: 20px;
	font-size: 12px;
	color: #5F6066;
	padding-left: 2px;
	font-weight: normal;
}
.trace_code_wrapper {
	display: inline-block;
	background: #D0D0D0;
	width: 100%;
	margin: 0;
}
.trace_code_notline {
	font-family: monospace;
	margin: 0;
	font-size: 12px;
	color: #5F6066;
	padding: 2px;
	display: block;
}
.trace_code_line {
	font-family: monospace;
	padding: 2px;
	display: block;
	margin: 0;
	font-size: 12px;
	color: #1B1D1B;
	background: #F1F1F1;
	font-weight: bold;
}